@import '../../global/mixins';
@import '../../global/colors';


.CardButton{    
    border-radius: 50%;
    border: none;
    background-color: #f1f1f1;;
    width: 35px;
    height: 35px;
    cursor: pointer;
    @include flex(row, nowrap,center,center);


    &:hover{
        background-color: $secondary-color;
        color: white ;
    }
}

