@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Montserrat:wght@300&family=Playfair+Display&display=swap');

$header-font:  'Montserrat', sans-serif;
$hero-font: 'Playfair Display', serif;
$sale-font: 'Lora', serif;