@import '../../global/fonts';
@import '../../global/mixins';
@import '../../global/colors';

.ShopSidebar{
        max-width: 250px;   
        width: 100%;
        border: 1px solid #efefef;
        padding: 10px 10px;

        
        & h3{
            text-align: center;
            border-bottom: 1px solid #efefef;
            padding-bottom: 10px;
            font-size: 18px;
            font-weight: 400;
            font-family: $sale-font;
        }
    }