@import '../../global/fonts';
@import '../../global/mixins';

.Quote{
    text-align: center;
    padding: 10%;

    & p{
        color: #4b4747;
        font-size: clamp(15px, 1.5vw, 21px) ;
        font-family: $hero-font;
        font-style: italic;
        font-weight: 300;
        line-height: 30px;
        margin: 20px auto 35px;
        max-width: 60%;
    }
}